
.custom-toolbar {
  background-color: white; /* Cambia esto al color que desees */
  color: #73879c;
  border-top: 1px solid gray;
}

.linea-separadora {
  height: 1px;
  width: 90%; /* Ancho del 50% del contenedor */
  background-color: rgba(128, 128, 128, 0.5); /* Color gris transparente */
  margin: 10px auto; /* Margen superior e inferior de 10px y centrado horizontal */
}

.icon-left-margin {
  margin-right: 8px; /* Ajusta el valor según el espacio deseado */
}
.icon-flipped {
  transform: scaleX(-1);
  margin-right: 5px;
}
.center-align {
  text-align: center;
}
.my-mod {
  padding-right: 20px;
}
