html, body {
  height: 100%;
  margin: 0;
}

#home {
  display: grid;
  grid-template-areas:
    "nav head"
    "nav main";
  grid-template-rows: auto 1fr;
  grid-template-columns: var(--nav-width) 1fr;
  height: 100vh;
  overflow: hidden;
}

#home.contract {
  grid-template-columns: var(--nav-width-contracted) 1fr;
}

#home > header {
  grid-area: head;
  border-bottom: solid 1px rgb(217, 222, 228);
  background-color: rgb(237, 237, 237);
}

header, nav, footer {
  flex: 0 0 auto;
}

#home > nav {
  grid-area: nav;
  background-color: #f8f8f8;
}

#home > main {
  grid-area: main;
  background-color: rgb(247, 247, 247);
  overflow-y: auto;
  padding-bottom: 50px;
}

footer {
  grid-area: foot;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: center;
  font-size: small;
  color: rgb(120, 140, 160);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: var(--nav-width);
  width: calc(100% - var(--nav-width));
}

#home.contract footer {
  left: var(--nav-width-contracted);
  width: calc(100% - var(--nav-width-contracted));
}

footer p {
  margin: 0;
  margin-right: 10px;
}

footer a {
  text-decoration: none;
  color: rgb(35, 82, 124);
}
