<div>
  <p-breadcrumb [model]="items"></p-breadcrumb>
</div>

<div
  class="card flex flex-wrap gap-3 justify-content-end"
  style="margin-top: 10px; margin-bottom: 10px"
>
  <button class="custom-button">
    <mat-icon style="margin-right: 5px" fontIcon="add"></mat-icon>NUEVO
    ACOMPAÑAMIENTO
  </button>
</div>

<div style="margin-bottom: 15px">
  <mat-toolbar class="custom-toolbar">
    <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
    <span>ACOMPAÑAMIENTOS EN VALIDACIÓN</span>
    <span style="flex: 1"></span>
    <!-- Espaciador flexible -->
    <button
      class="custom-button-toggle round-button"
      (click)="toggleTableVisibility()"
    >
      <mat-icon
        style="margin-right: 5px; vertical-align: middle"
        fontIcon="expand_more"
      ></mat-icon>
    </button>
  </mat-toolbar>

  <div class="linea-separadora"></div>
  <!-- Divisor -->

  <p-table
    [value]="support"
    styleClass="p-datatable-striped "
    [scrollable]="true"
    scrollHeight="400px"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Entidad</th>
        <th>Correo</th>
        <th>Modalidad</th>
        <th>Lugar de Realizacion</th>
        <th>Fecha de Solicitud</th>
        <th>Fecha de Realizacion</th>
        <th>Cantidad de Personas</th>
        <th>Precio</th>
        <th>Acciónes</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sitioWeb>
      <tr *ngIf="tableVisible === true">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>asda</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div style="margin-top: 15px">
  <mat-toolbar class="custom-toolbar">
    <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
    <span>ACOMPAÑAMIENTOS EN NEGOCIACIÓN</span>
    <span style="flex: 1"></span>
    <!-- Espaciador flexible -->
    <button
      class="custom-button-toggle round-button"
      (click)="toggleTableVisibility1()"
    >
      <mat-icon
        style="margin-right: 5px; vertical-align: middle"
        fontIcon="expand_more"
      ></mat-icon>
    </button>
  </mat-toolbar>

  <div class="linea-separadora"></div>
  <!-- Divisor -->

  <p-table
    [value]="support"
    styleClass="p-datatable-striped"
    [scrollable]="true"
    scrollHeight="400px"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Entidad</th>
        <th>Correo</th>
        <th>Modalidad</th>
        <th>Lugar de Realizacion</th>
        <th>Fecha de Solicitud</th>
        <th>Fecha de Realizacion</th>
        <th>Cantidad de Personas</th>
        <th>Precio</th>
        <th>Acciónes</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sitioWeb>
      <tr *ngIf="tableVisible1 === true">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>asda</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div style="margin-bottom: 15px">
  <mat-toolbar class="custom-toolbar">
    <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
    <span>ACOMPAÑAMIENTOS APROBADOS</span>
    <span style="flex: 1"></span>
    <!-- Espaciador flexible -->
    <button
      class="custom-button-toggle round-button"
      (click)="toggleTableVisibility()"
    >
      <mat-icon
        style="margin-right: 5px; vertical-align: middle"
        fontIcon="expand_more"
      ></mat-icon>
    </button>
  </mat-toolbar>

  <div class="linea-separadora"></div>
  <!-- Divisor -->

  <p-table
    [value]="support"
    styleClass="p-datatable-striped "
    [scrollable]="true"
    scrollHeight="400px"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Entidad</th>
        <th>Correo</th>
        <th>Modalidad</th>
        <th>Lugar de Realizacion</th>
        <th>Fecha de Solicitud</th>
        <th>Fecha de Realizacion</th>
        <th>Cantidad de Personas</th>
        <th>Precio</th>
        <th>Acciónes</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sitioWeb>
      <tr *ngIf="tableVisible === true">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>asd</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div style="margin-top: 15px">
  <mat-toolbar class="custom-toolbar">
    <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
    <span>ACOMPAÑAMIENTOS RENOVADOS</span>
    <span style="flex: 1"></span>
    <!-- Espaciador flexible -->
    <button
      class="custom-button-toggle round-button"
      (click)="toggleTableVisibility1()"
    >
      <mat-icon
        style="margin-right: 5px; vertical-align: middle"
        fontIcon="expand_more"
      ></mat-icon>
    </button>
  </mat-toolbar>

  <div class="linea-separadora"></div>
  <!-- Divisor -->

  <p-table
    [value]="support"
    styleClass="p-datatable-striped"
    [scrollable]="true"
    scrollHeight="400px"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Entidad</th>
        <th>Correo</th>
        <th>Modalidad</th>
        <th>Lugar de Realizacion</th>
        <th>Fecha de Solicitud</th>
        <th>Fecha de Realizacion</th>
        <th>Cantidad de Personas</th>
        <th>Precio</th>
        <th>Acciónes</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sitioWeb>
      <tr *ngIf="tableVisible1 === true">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>asd</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div style="margin-bottom: 15px">
  <mat-toolbar class="custom-toolbar">
    <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
    <span>ACOMPAÑAMIENTOS CERRADOS</span>
    <span style="flex: 1"></span>
    <!-- Espaciador flexible -->
    <button
      class="custom-button-toggle round-button"
      (click)="toggleTableVisibility()"
    >
      <mat-icon
        style="margin-right: 5px; vertical-align: middle"
        fontIcon="expand_more"
      ></mat-icon>
    </button>
  </mat-toolbar>

  <div class="linea-separadora"></div>
  <!-- Divisor -->

  <p-table
    [value]="support"
    styleClass="p-datatable-striped "
    [scrollable]="true"
    scrollHeight="400px"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Entidad</th>
        <th>Correo</th>
        <th>Modalidad</th>
        <th>Lugar de Realizacion</th>
        <th>Fecha de Solicitud</th>
        <th>Fecha de Realizacion</th>
        <th>Cantidad de Personas</th>
        <th>Precio</th>
        <th>Acciónes</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sitioWeb>
      <tr *ngIf="tableVisible === true">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>asda</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div style="margin-bottom: 15px">
  <mat-toolbar class="custom-toolbar">
    <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
    <span>ACOMPAÑAMIENTOS CANCELADOS</span>
    <span style="flex: 1"></span>
    <!-- Espaciador flexible -->
    <button
      class="custom-button-toggle round-button"
      (click)="toggleTableVisibility()"
    >
      <mat-icon
        style="margin-right: 5px; vertical-align: middle"
        fontIcon="expand_more"
      ></mat-icon>
    </button>
  </mat-toolbar>

  <div class="linea-separadora"></div>
  <!-- Divisor -->

  <p-table
    [value]="support"
    styleClass="p-datatable-striped "
    [scrollable]="true"
    scrollHeight="400px"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Entidad</th>
        <th>Correo</th>
        <th>Modalidad</th>
        <th>Lugar de Realizacion</th>
        <th>Fecha de Solicitud</th>
        <th>Fecha de Realizacion</th>
        <th>Cantidad de Personas</th>
        <th>Precio</th>
        <th>Acciónes</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sitioWeb>
      <tr *ngIf="tableVisible === true">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>asd</td>
      </tr>
    </ng-template>
  </p-table>
</div>
