<table class="tg">
  <thead>
    <tr>
      <th class="tg-qk6s">algo</th>
      <th class="tg-qk6s">otra cosakjasndk</th>
      <th class="tg-qk6s">aksjndkasjndk</th>
      <th class="tg-qk6s">.,.a,smdlak,nmaskdjnk</th>
      <th class="tg-qk6s">,ansdkajsk</th>
      <th class="tg-qk6s">,ansjkdajnsdka</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-wc6l">1</td>
      <td class="tg-wc6l">kskakskdasdasdsa<br>dasd<br>as<br>da<br>sd<br>asd<br></td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
    </tr>
    <tr>
      <td class="tg-wc6l">2</td>
      <td class="tg-wc6l">asdasd<br>a<br>sd<br>asd<br>asd<br>a<br>sd<br>asd<br>dfgdsfhfdh<br>df</td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
    </tr>
    <tr>
      <td class="tg-wc6l">3</td>
      <td class="tg-wc6l">asdlkfnlaskd<br>asdfsadnfkasd<br><br>asdfkjasdkf<br>asdfnkasd</td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
    </tr>
    <tr>
      <td class="tg-wc6l">4</td>
      <td class="tg-wc6l">kasdnfkasdk<br>asmdnfasd<br><br><br>a sdfnkasdfkasjdk</td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
      <td class="tg-wc6l"></td>
    </tr>
  </tbody>
  </table>
