<img src="../../../../assets/Logos/SEO WEB MAS-03.svg" alt="Logo de SEO" style="margin-left:15px;margin-right:20px; margin-top: 25px; margin-bottom: 30px">

<div id="menu" class="bg-202a62 min-h-screen z-10 text-slate-300 w-65 left-0 h-screen">
  <div id="nav" class="w-full">
    @for (item of menuItems; track $index) {
      <a 
      [routerLink]="item.path"
      routerLinkActive="active-link"
      class="w-full px-2 inline-flex items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150">
        <div class="flex flex-col">
          <span class="text-lg font-bold leading-8 text-white">{{item.data && item.data['title']}}</span>
        </div>
      </a>
    }
  </div>

  <!-- Barra inferior con botón -->
  <div class="bottom-bar">
    <button class="round-button">
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>
</div>

