<div>
    <p-breadcrumb [model]="items"></p-breadcrumb>
</div>

<div class="card flex flex-wrap gap-3 justify-content-end" style="margin-top: 10px; margin-bottom: 10px;">
    
    <button class="custom-button">
        <mat-icon style="margin-right:5px;" fontIcon="add" ></mat-icon>NUEVA SUSCRIPCIÓN
    </button>
    
</div>

<div style="margin-bottom: 15px;">
    <mat-toolbar class="custom-toolbar">
        <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
        <span> SUSCRIPCIONES EN REVISIÓN
        </span>
        <span style="flex: 1;"></span> <!-- Espaciador flexible -->
        <button class="custom-button-toggle round-button" (click)="toggleTableVisibility()">
            <mat-icon style="margin-right:5px; vertical-align: middle;" fontIcon="expand_more"></mat-icon>
        </button>
    </mat-toolbar>

    <div class="linea-separadora"></div> <!-- Divisor -->

    <p-table 
        #dt2
        [value]="subscription" 
        styleClass="p-datatable-striped "
        [scrollable]="true" 
        scrollHeight="500px"
        [paginator]="true"
        [rows]="5"
        [first]="first"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [tableStyle]="{'min-width': '50rem'}"
        [globalFilterFields]="['user', 'organismo', 'correo', 'sitio','tiempo','fecha', 'paquete']">
        

 
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="space-between" class="ml-auto">
                    <p-inputIcon class="my-mod">
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="onInputChange($event)" placeholder="Buscar..."/>

                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header" >
            <tr>
                <th pSortableColumn="#">
                    <div class="header-content">
                        #<p-sortIcon field="#"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="user" style="width:30%;">
                    <div class="header-content">
                        Nombre del Usuario<p-sortIcon field="user"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="organismo" style="width:20%;">
                    <div class="header-content">
                        Organismo<p-sortIcon field="organismo"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="correo" style="width:20%;">
                    <div class="header-content">
                        Correo<p-sortIcon field="correo"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="sitio" style="width:20%;">
                    <div class="header-content">
                        Sitios Web<p-sortIcon field="sitio"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="cantidad" style="width:20%;">
                    <div class="header-content">
                        Cantidad de Sitios Web<p-sortIcon field="cantidad"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="paquete" style="width:20%;">
                    <div class="header-content">
                        Paquete<p-sortIcon field="paquete"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="fecha" style="width:20%;">
                    <div class="header-content">
                        Fecha de Solicitud<p-sortIcon field="fecha"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="tiempo" style="width:20%;">
                    <div class="header-content">
                        Tiempo Solicitado<p-sortIcon field="tiempo"></p-sortIcon>
                    </div>
                </th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subscription >
            <tr *ngIf="tableVisible===true">
                <td class="center-align">{{subscription.numero}}</td>
                <td class="center-align">{{subscription.nombre_del_usuario}}</td>
                <td class="center-align">{{subscription.organismo}}</td>
                <td class="center-align">{{subscription.correo}}</td>
                <td class="center-align">
                    <div *ngFor="let sitio of subscription.sitios_web">{{sitio}}</div>
                </td>
                <td class="center-align">{{subscription.cantidad_sitios_web}}</td>
                <td class="center-align">{{subscription.paquete}}</td>
                <td class="center-align">{{subscription.fecha_de_solicitud}}</td>
                <td class="center-align">{{subscription.tiempo_solicitado}}</td>
                <td class="center-align"></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div style="margin-bottom: 15px;">
    <mat-toolbar class="custom-toolbar">
        <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
        <span> SUSCRIPCIONES EN PROCESO
        </span>
        <span style="flex: 1;"></span> <!-- Espaciador flexible -->
        <button class="custom-button-toggle round-button" (click)="toggleTableVisibility()">
            <mat-icon style="margin-right:5px; vertical-align: middle;" fontIcon="expand_more"></mat-icon>
        </button>
    </mat-toolbar>

    <div class="linea-separadora"></div> <!-- Divisor -->

    <p-table 
        #dt3
        [value]="subscription" 
        styleClass="p-datatable-striped "
        [scrollable]="true" 
        scrollHeight="500px"
        [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true"
        [rows]="5"
        [first]="first1"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        (onPage)="pageChange1($event)"
        [rowsPerPageOptions] ="[5, 10, 25, 50]"
        [globalFilterFields]="['user', 'organismo', 'correo', 'sitio','tiempo','fecha', 'paquete']"
        >

        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="space-between" class="ml-auto">
                    <p-inputIcon class="my-mod">
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="onInputChange1($event)" placeholder="Buscar..."/>

                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header" >
            <tr>
                <th>#</th>
                <th>Nombre del Usuario</th>
                <th>Organismo</th>
                <th>Correo</th>
                <th>Sitios Web</th>
                <th>Cantidad de Sitios Web</th>
                <th>Paquete</th>
                <th>Fecha de Solicitud</th>
                <th>Tiempo Solicitado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subscription >
            <tr *ngIf="tableVisible===true">
                <td class="center-align">{{subscription.numero}}</td>
                <td class="center-align">{{subscription.nombre_del_usuario}}</td>
                <td class="center-align">{{subscription.organismo}}</td>
                <td class="center-align">{{subscription.correo}}</td>
                <td class="center-align">{{subscription.sitios_web}}</td>
                <td class="center-align">{{subscription.cantidad_sitios_web}}</td>
                <td class="center-align">{{subscription.paquete}}</td>
                <td class="center-align">{{subscription.fecha_de_solicitud}}</td>
                <td class="center-align">{{subscription.tiempo_solicitado}}</td>
                <td class="center-align"></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div style="margin-bottom: 15px;">
    <mat-toolbar class="custom-toolbar">
        <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
        <span> SUSCRIPCIONES EN NEGOCIACIÓN
        </span>
        <span style="flex: 1;"></span> <!-- Espaciador flexible -->
        <button class="custom-button-toggle round-button" (click)="toggleTableVisibility()">
            <mat-icon style="margin-right:5px; vertical-align: middle;" fontIcon="expand_more"></mat-icon>
        </button>
    </mat-toolbar>

    <div class="linea-separadora"></div> <!-- Divisor -->

    <p-table 
        [value]="subscription" 
        styleClass="p-datatable-striped "
        [scrollable]="true" 
        scrollHeight="500px"
        [paginator]="true"
        [rows]="5"
        [first]="first2"
        [showCurrentPageReport]="true"
        #dt4
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        (onPage)="pageChange2($event)"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [tableStyle]="{'min-width': '50rem'}"
        [globalFilterFields]="['user', 'organismo', 'correo', 'sitio','tiempo','fecha', 'paquete']">

        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="space-between" class="ml-auto">
                    <p-inputIcon class="my-mod">
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="onInputChange2($event)" placeholder="Buscar..."/>

                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header" >
            <tr>
                <th>#</th>
                <th>Nombre del Usuario</th>
                <th>Organismo</th>
                <th>Correo</th>
                <th>Sitios Web</th>

                <th>Cantidad de Sitios Web</th>
                <th>Paquete</th>
                <th>Fecha de Solicitud</th>
                <th>Tiempo Solicitado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subscription >
            <tr *ngIf="tableVisible===true">
                <td class="center-align">{{subscription.numero}}</td>
                <td class="center-align">{{subscription.nombre_del_usuario}}</td>
                <td class="center-align">{{subscription.organismo}}</td>
                <td class="center-align">{{subscription.correo}}</td>
                <td class="center-align">{{subscription.sitios_web}}</td>
                <td class="center-align">{{subscription.cantidad_sitios_web}}</td>
                <td class="center-align">{{subscription.paquete}}</td>
                <td class="center-align">{{subscription.fecha_de_solicitud}}</td>
                <td class="center-align">{{subscription.tiempo_solicitado}}</td>
                <td class="center-align"></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div style="margin-bottom: 15px;">
    <mat-toolbar class="custom-toolbar">
        <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
        <span> SUSCRIPCIONES APROBADAS
        </span>
        <span style="flex: 1;"></span> <!-- Espaciador flexible -->
        <button class="custom-button-toggle round-button" (click)="toggleTableVisibility()">
            <mat-icon style="margin-right:5px; vertical-align: middle;" fontIcon="expand_more"></mat-icon>
        </button>
    </mat-toolbar>

    <div class="linea-separadora"></div> <!-- Divisor -->

    <p-table 
        [value]="subscription" 
        styleClass="p-datatable-striped "
        [scrollable]="true" 
        [paginator]="true"
        [rows]="5"
        [first]="first3"
        [showCurrentPageReport]="true"
        #dt5
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        (onPage)="pageChange3($event)"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        scrollHeight="500px"
        [tableStyle]="{'min-width': '50rem'}"
        [globalFilterFields]="['user', 'organismo', 'correo', 'sitio','tiempo','fecha', 'paquete']"
        >

        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="space-between" class="ml-auto">
                    <p-inputIcon class="my-mod">
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="onInputChange3($event)" placeholder="Buscar..."/>

                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header" >
            <tr>
                <th>#</th>
                <th>Nombre del Usuario</th>
                <th>Organismo</th>
                <th>Correo</th>
                <th>Sitios Web</th>
                <th>Cantidad de Sitios Web</th>
                <th>Paquete</th>
                <th>Fecha de Solicitud</th>
                <th>Tiempo Solicitado</th>
                <th>Fecha de Comienzo</th>
                <th>Tiempo Restante</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subscription >
            <tr *ngIf="tableVisible===true">
                <td class="center-align">{{subscription.numero}}</td>
                <td class="center-align">{{subscription.nombre_del_usuario}}</td>
                <td class="center-align">{{subscription.organismo}}</td>
                <td class="center-align">{{subscription.correo}}</td>
                <td class="center-align">{{subscription.sitios_web}}</td>
                <td class="center-align">{{subscription.cantidad_sitios_web}}</td>
                <td class="center-align">{{subscription.paquete}}</td>
                <td class="center-align">{{subscription.fecha_de_solicitud}}</td>
                <td class="center-align">{{subscription.fecha_de_comienzo}}</td>
                <td class="center-align">{{subscription.tiempo_restante}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div style="margin-bottom: 15px;">
    <mat-toolbar class="custom-toolbar">
        <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
        <span> SUSCRIPCIONES RECHAZADAS
        </span>
        <span style="flex: 1;"></span> <!-- Espaciador flexible -->
        <button class="custom-button-toggle round-button" (click)="toggleTableVisibility()">
            <mat-icon style="margin-right:5px; vertical-align: middle;" fontIcon="expand_more"></mat-icon>
        </button>
    </mat-toolbar>

    <div class="linea-separadora"></div> <!-- Divisor -->

    <p-table 
        [value]="subscription" 
        styleClass="p-datatable-striped "
        [scrollable]="true" 
        [paginator]="true"
        [rows]="5"
        [first]="first4"
        [showCurrentPageReport]="true"
        #dt6
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        (onPage)="pageChange4($event)"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        scrollHeight="500px"
        [tableStyle]="{'min-width': '50rem'}"
        [globalFilterFields]="['user', 'organismo', 'correo', 'sitio','tiempo','fecha', 'paquete']"
        >

        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="space-between" class="ml-auto">
                    <p-inputIcon class="my-mod">
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="onInputChange4($event)" placeholder="Buscar..."/>

                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header" >
            <tr>
                <th>#</th>
                <th>Nombre del Usuario</th>
                <th>Organismo</th>
                <th>Correo</th>
                <th>Sitios Web</th>
                <th>Cantidad de Sitios Web</th>
                <th>Paquete</th>
                <th>Fecha de Solicitud</th>
                <th>Tiempo Solicitado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subscription >
            <tr *ngIf="tableVisible===true">
                <td class="center-align">{{subscription.numero}}</td>
                <td class="center-align">{{subscription.nombre_del_usuario}}</td>
                <td class="center-align">{{subscription.organismo}}</td>
                <td class="center-align">{{subscription.correo}}</td>
                <td class="center-align">{{subscription.sitios_web}}</td>
                <td class="center-align">{{subscription.cantidad_sitios_web}}</td>
                <td class="center-align">{{subscription.paquete}}</td>
                <td class="center-align">{{subscription.fecha_de_solicitud}}</td>
                <td class="center-align">{{subscription.tiempo_solicitado}}</td>
                <td class="center-align"></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div style="margin-bottom: 15px;">
    <mat-toolbar class="custom-toolbar">
        <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
        <span> SUSCRIPCIONES CERRADAS
        </span>
        <span style="flex: 1;"></span> <!-- Espaciador flexible -->
        <button class="custom-button-toggle round-button" (click)="toggleTableVisibility()">
            <mat-icon style="margin-right:5px; vertical-align: middle;" fontIcon="expand_more"></mat-icon>
        </button>
    </mat-toolbar>

    <div class="linea-separadora"></div> <!-- Divisor -->

    <p-table 
        [value]="subscription" 
        styleClass="p-datatable-striped "
        [scrollable]="true" 
        scrollHeight="500px"
        [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true"
        [rows]="5"
        [first]="first5"
        [showCurrentPageReport]="true"
        #dt7
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        (onPage)="pageChange5($event)"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [globalFilterFields]="['user', 'organismo', 'correo', 'sitio','tiempo','fecha', 'paquete']"
        >

        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="space-between" class="ml-auto">
                    <p-inputIcon class="my-mod">
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="onInputChange5($event)" placeholder="Buscar..."/>

                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header" >
            <tr>
                <th>#</th>
                <th>Nombre del Usuario</th>
                <th>Organismo</th>
                <th>Correo</th>
                <th>Sitios Web</th>
                <th>Cantidad de Sitios Web</th>
                <th>Paquete</th>
                <th>Fecha de Solicitud</th>
                <th>Tiempo Solicitado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subscription >
            <tr *ngIf="tableVisible===true">
                <td class="center-align">{{subscription.numero}}</td>
                <td class="center-align">{{subscription.nombre_del_usuario}}</td>
                <td class="center-align">{{subscription.organismo}}</td>
                <td class="center-align">{{subscription.correo}}</td>
                <td class="center-align">{{subscription.sitios_web}}</td>
                <td class="center-align">{{subscription.cantidad_sitios_web}}</td>
                <td class="center-align">{{subscription.paquete}}</td>
                <td class="center-align">{{subscription.fecha_de_solicitud}}</td>
                <td class="center-align">{{subscription.tiempo_solicitado}}</td>
                <td class="center-align"></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div style="margin-bottom: 15px;">
    <mat-toolbar class="custom-toolbar">
        <mat-icon fontIcon="format_align_left" class="icon-left-margin"></mat-icon>
        <span> SUSCRIPCIONES DESHABILITADAS
        </span>
        <span style="flex: 1;"></span> <!-- Espaciador flexible -->
        <button class="custom-button-toggle round-button" (click)="toggleTableVisibility()">
            <mat-icon style="margin-right:5px; vertical-align: middle;" fontIcon="expand_more"></mat-icon>
        </button>
    </mat-toolbar>

    <div class="linea-separadora"></div> <!-- Divisor -->

    <p-table 
        [value]="subscription" 
        styleClass="p-datatable-striped "
        [scrollable]="true" 
        scrollHeight="500px"
        [paginator]="true"
        [rows]="5"
        [first]="first6"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        (onPage)="pageChange6($event)"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [tableStyle]="{'min-width': '50rem'}"
        #dt8
        [globalFilterFields]="['user', 'organismo', 'correo', 'sitio','tiempo','fecha', 'paquete']">
        
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="space-between" class="ml-auto">
                    <p-inputIcon class="my-mod">
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="onInputChange6($event)" placeholder="Buscar..."/>

                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header" >
            <tr>
                <th>#</th>
                <th>Nombre del Usuario</th>
                <th>Organismo</th>
                <th>Correo</th>
                <th>Sitios Web</th>
                <th>Cantidad de Sitios Web</th>
                <th>Paquete</th>
                <th>Fecha de Solicitud</th>
                <th>Tiempo Solicitado</th>
                <th>Fecha de Deshabilitación</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subscription >
            <tr *ngIf="tableVisible===true">
                <td class="center-align">{{subscription.numero}}</td>
                <td class="center-align">{{subscription.nombre_del_usuario}}</td>
                <td class="center-align">{{subscription.organismo}}</td>
                <td class="center-align">{{subscription.correo}}</td>
                <td class="center-align">{{subscription.sitios_web}}</td>
                <td class="center-align">{{subscription.cantidad_sitios_web}}</td>
                <td class="center-align">{{subscription.paquete}}</td>
                <td class="center-align">{{subscription.fecha_de_solicitud}}</td>
                <td class="center-align">{{subscription.tiempo_solicitado}}</td>
                <td class="center-align">{{subscription.fecha_de_deshabilitacion}}</td>
                <td class="center-align"></td>
            </tr>
        </ng-template>
    </p-table>
</div>
